footer {

	padding: 25px 0 0 0;
	.footer {
		.wrap {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;

			padding-top: 24px;

			div {
				display: flex;
				flex-direction: column;
				gap: 15px;

				h3 {
					color: var(--text-primary);
					font-size: 14px;
					font-weight: 500;
					line-height: 19px;
					margin-bottom: 5px;
					margin-top: 0;
				}

				a {
					color: #8b8e99;
					display: block;
					font-size: 12px;
					font-weight: 400;
					line-height: 16px;
					text-decoration: none;
				}
			}

			
			.social {
				h3 {
					color: var(--text-primary);
					font-size: 14px;
					font-weight: 500;
					line-height: 18px;
					margin-top: 0;
				}

				.download-app {
					all: unset;
					display: flex;
					justify-content: space-between;
					align-items: center;
					gap: 25px;

					a {
						display: flex;
						justify-content: center;
						align-items: center;

						gap: 10px;

						span {
							color: var(--text-primary);
							font-family: Inter;
							font-size: 0.8rem;
							line-height: 1.2em;
							margin-left: 5px;
							font-weight: 500;
						}
					}
				}

				.social-links {
					margin-top: 32px;

					.social-links__apps {
						all: unset;
						display: flex;
						justify-content: space-between;
						align-items: center;
					}
				}
			}
		}
	}

	.footer__second {
		margin-top: 40px;
		.wrap {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;

			border-top: 1px solid rgb(54, 54, 64, 0.2);
			padding: 16px 0;
			.agreements {
				display: flex;
				align-items: flex-end;
				gap: 16px;

				a {
					color: var(--text-primary);
					font-size: 14px;
					font-weight: 500;
					line-height: 18px;
					margin-right: 16px;
					white-space: nowrap;

					text-decoration: none;
				}
			}

			.copyright-text p {
				color: #8b8e99;
				font-size: 11px;
				font-weight: 400;
				line-height: 14px;
				margin-left: auto;
				margin-top: 0;
			}
		}
	}
}
