header {
	width: 100%;

	.header__first {
		width: 100%;
		background: #f2f4f7;
		min-height: 32px;

		display: flex;
		align-items: center;

		.wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;

			padding-right: 8px;
		}

		.geo {
			display: flex;
			align-items: center;

			gap: 24px;

			.geolocation {
				display: flex;
				align-items: center;
				gap: 5px;

				.material-symbols-outlined {
					font-variation-settings: "FILL" 0, "wght" 100, "GRAD" -25, "opsz" 20;
				}

				a {
					color: var(--text-primary);
					text-decoration: none;
					font-size: 0.875rem;
					font-weight: 400;
					font-family: Inter;

					span {
						font-weight: 500;
						text-decoration: underline;
					}
				}
			}

			.pickup {
				a {
					color: var(--text-primary);
					text-decoration: none;
					font-size: 0.875rem;
					font-weight: 500;
					font-family: Inter;
				}
			}
		}

		.free-day {
			p {
				color: var(--text-secondary);
				font-weight: 500;
				font-size: 0.875rem;
				font-family: Inter;
			}
		}

		.localization {
			display: flex;
			align-items: center;
			gap: 16px;

			.faq {
				a {
					color: var(--text-secondary);
					text-decoration: none;
					font-size: 0.875rem;
					font-weight: 500;
					font-family: Inter;

					transition: 0.2s ease;

					&:hover {
						color: var(--text-primary);
					}
				}
			}

			.my-orders {
				text-align: center;
				a {
					color: var(--text-secondary);
					text-decoration: none;
					font-size: 0.875rem;
					font-weight: 500;
					font-family: Inter;

					text-align: center;
					transition: 0.2s ease;

					&:hover {
						color: var(--text-primary);
					}
				}
			}

			.lang {
				display: flex;
				align-items: center;
				margin-left: 8px;

				.lang__flag {
					margin-right: 5px;

					width: 20px;
					height: 20px;
					border-radius: 50%;

					background: url("/public/images/ru.svg") no-repeat center / cover;
				}

				span {
					color: var(--text-primary);
					font-size: 0.875rem;
					font-weight: 500;
					font-family: Inter;
				}
			}
		}
	}

	.header__second {
		width: 100%;
		padding-top: 17px;

		.wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.logo {
			margin-right: 32px;
			display: flex;
			justify-content: center;
			align-items: center;
			a {
				display: flex;
				justify-content: center;
				align-items: center;
			}
			img {
				height: 32px;
				width: 215px;
				vertical-align: middle;
			}
		}

		.dropdown {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 8px;

			height: 40px;
			width: 120px;

			color: #7000ff;
			background: #f0f0ff;
			border: 0;

			cursor: pointer;

			border-radius: 4px;

			margin-right: 7px;
			transition: all 0.2s;

			.catalog-icon {
				width: 24px;
				height: 24px;

				position: relative;

				.rect {
					background: #7000ff;
					border: 2px solid #7000ff;
					border-radius: 2px;
					height: 12px;
					left: 50%;
					position: absolute;
					top: 9px;
					-webkit-transform: translate(-50%);
					transform: translate(-50%);
					-webkit-transition: all 0.11s ease-out 0.11s,
						-webkit-transform 0.11s ease-out 0.001ms;
					transition: all 0.11s ease-out 0.11s,
						-webkit-transform 0.11s ease-out 0.001ms;
					transition: all 0.11s ease-out 0.11s, transform 0.11s ease-out 0.001ms;
					transition: all 0.11s ease-out 0.11s, transform 0.11s ease-out 0.001ms,
						-webkit-transform 0.11s ease-out 0.001ms;
					width: 18px;

					.inner {
						background-color: #f0f0ff;
						border-radius: 1px;
						height: 100%;
						margin: auto;
						-webkit-transition: all 0.11s ease-out 0.11s;
						transition: all 0.11s ease-out 0.11s;
						width: 100%;
					}
				}

				.bottom {
					border-top: 2px solid #7000ff;
					border-top-left-radius: 2px;
					border-top-right-radius: 2px;
					height: 0;
					left: 50%;
					position: absolute;
					-webkit-transform: translate(-50%);
					transform: translate(-50%);

					background: #7000ff;
					top: 6px;
					-webkit-transition: all 0.11s ease-out 0.11s,
						-webkit-transform 0.11s ease-out 0.001ms;
					transition: all 0.11s ease-out 0.11s,
						-webkit-transform 0.11s ease-out 0.001ms;
					transition: all 0.11s ease-out 0.11s, transform 0.11s ease-out 0.001ms;
					transition: all 0.11s ease-out 0.11s, transform 0.11s ease-out 0.001ms,
						-webkit-transform 0.11s ease-out 0.001ms;
					width: 15.984000000000002px;
				}

				.top {
					top: 3px;
					-webkit-transition: all 0.11s ease-out 0.11s, opacity 0.001ms 0.11s;
					transition: all 0.11s ease-out 0.11s, opacity 0.001ms 0.11s;
					width: 13.991999999999999px;

					border-top: 2px solid #7000ff;
					border-top-left-radius: 2px;
					border-top-right-radius: 2px;
					height: 0;
					left: 50%;
					position: absolute;
					-webkit-transform: translate(-50%);
					transform: translate(-50%);
				}
			}

			&.show {
				.rect {
					background: var(--icon-accented);
					border-bottom-width: 0;
					border-top: 2px solid var(--icon-accented);
					height: 0;
					top: 50%;
					-webkit-transform: translate(-50%, -1px) rotate(-45deg);
					transform: translate(-50%, -1px) rotate(-45deg);
					-webkit-transform-origin: 50% 50%;
					transform-origin: 50% 50%;
					-webkit-transition: all 0.11s ease-in,
						border-bottom-width 0.022000000000000002s 0.08800000000000001s,
						-webkit-transform 0.11s ease-in 0.11s;
					transition: all 0.11s ease-in,
						border-bottom-width 0.022000000000000002s 0.08800000000000001s,
						-webkit-transform 0.11s ease-in 0.11s;
					transition: all 0.11s ease-in, transform 0.11s ease-in 0.11s,
						border-bottom-width 0.022000000000000002s 0.08800000000000001s;
					transition: all 0.11s ease-in, transform 0.11s ease-in 0.11s,
						border-bottom-width 0.022000000000000002s 0.08800000000000001s,
						-webkit-transform 0.11s ease-in 0.11s;
				}

				.top {
					opacity: 0;
					top: 50%;
					-webkit-transition: all 0.11s ease-in, opacity 0.001ms ease-in 0.11s;
					transition: all 0.11s ease-in, opacity 0.001ms ease-in 0.11s;
				}

				.bottom {
					border-radius: 2px;
					top: 50%;
					-webkit-transform: translate(-50%, -1px) rotate(45deg);
					transform: translate(-50%, -1px) rotate(45deg);
					-webkit-transform-origin: 50% 50%;
					transform-origin: 50% 50%;
					-webkit-transition: all 0.11s ease-in,
						border-radius 7.700000000000001ms 0.08800000000000001s,
						-webkit-transform 0.11s ease-in 0.11s;
					transition: all 0.11s ease-in,
						border-radius 7.700000000000001ms 0.08800000000000001s,
						-webkit-transform 0.11s ease-in 0.11s;
					transition: all 0.11s ease-in, transform 0.11s ease-in 0.11s,
						border-radius 7.700000000000001ms 0.08800000000000001s;
					transition: all 0.11s ease-in, transform 0.11s ease-in 0.11s,
						border-radius 7.700000000000001ms 0.08800000000000001s,
						-webkit-transform 0.11s ease-in 0.11s;
					width: 18.5px;
				}
			}

			span {
				font-size: 14px;
				font-family: Inter;
				font-weight: 500;
			}

			&:hover {
				background: #d7d6ff;

				.inner {
					background-color: #d7d6ff !important;
				}
			}
		}

		.search {
			display: flex;
			flex-grow: 1;
			margin-right: 24px;

			position: relative;

			.searchQuery {
				width: 100%;
				height: 40px;
				display: flex;
				align-items: center;
				position: relative;

				input {
					width: 100%;
					height: 100%;

					color: #1f2026;
					font-family: Inter;
					font-size: 0.875rem;
					font-weight: 400;
					background: #fff;
					border: 1px solid rgb(54, 54, 64, 0.2);
					border-radius: 4px;
					padding: 0 calc(15% + 38px) 0 16px;
					box-shadow: 0 0 0 0 rgb(54, 54, 64, 0.2), 0 0 0 0 rgb(54, 54, 64, 0.8);
				}

				button {
					width: 15%;
					height: 100%;
					position: absolute;
					top: 0;
					right: 0;
					z-index: 1;

					display: flex;
					justify-content: center;
					align-items: center;

					font-family: Inter;
					font-size: 14px;
					font-weight: 500;
					padding: 0 12px;

					background: #f2f4f7;
					border: 1px solid rgb(54, 54, 64, 0.2);
					border-radius: 0 4px 4px 0;
				}
			}

			.searchResults {
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				z-index: 10;

				background: #fff;
				border: 1px solid rgb(54, 54, 64, 0.2);
				border-top: none;
				border-radius: 4px;
				box-shadow: 0 0 0 0 rgb(54, 54, 64, 0.2), 0 0 0 0 rgb(54, 54, 64, 0.8);

				display: flex;
				flex-direction: column;

				list-style: none;

				border-bottom-left-radius: 12px;
				border-bottom-right-radius: 12px;

				max-height: 500px;
				overflow-y: auto;

				li {
					padding: 12px 51px 12px 50px;
					user-select: none;
					position: relative;

					color: var(--text-primary);
					font-family: Inter;
					font-size: 0.875rem;
					font-weight: 400;
					line-height: 1.4em;

					transition: all 0.2s ease;

					.highlight {
						all: unset;
						font-weight: 600;
					}

					&:hover:not(.tupi_class) {
						background-color: var(--field-primary-hovered);
						cursor: pointer;
					}

					&::before {
						content: "";
						position: absolute;
						top: 50%;
						left: 15px;

						-webkit-transform: translateY(-50%);
						transform: translateY(-50%);

						height: 20px;
						width: 20px;
						background: url(/public/images/search.svg) no-repeat center /
							contain;

						vertical-align: middle;
					}

					&.tupi_class {
						align-items: center;
						display: flex;
						justify-content: space-between;

						padding: 16px 4px 8px 16px;

						h2 {
							color: var(--text-primary);
							font-family: Inter;
							font-size: 1rem;
							font-weight: 500;
							line-height: 1.2em;
						}

						&::before {
							display: none;
						}
					}
				}
			}
		}

		.btn-block {
			display: flex;
			position: relative;
		}

		.account,
		.liked,
		.cart {
			margin-right: 8px;

			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			color: #1f2026;
			cursor: pointer;
			display: -webkit-inline-box;
			display: -ms-inline-flexbox;
			display: inline-flex;
			font-family: Inter, sans-serif;
			font-size: 0.875rem;
			font-weight: 500;
			min-height: 42px;
			min-width: 42px;
			padding: 0 8px;
			position: relative;

			display: flex;
			gap: 8px;

			&:hover {
				background: #e6e8ed;
				border-radius: 4px;
			}
		}

		.cart {
			cursor: pointer;
			margin-right: 0;
			@mixin conditional-display {
				&[data-elems] {
					&::after {
						display: flex;
					}
				}

				&:not([data-elems]) {
					&::after {
						display: none;
					}
				}
			}

			@include conditional-display;
			&::after {
				content: attr(data-elems);

				width: 20px;
				height: 20px;

				background: #7000ff;
				border-radius: 2px;
				font-size: 0.75rem;
				color: #fff;
				font-family: Inter;

				justify-content: center;
				align-items: center;
			}

			.modal__cart {
				cursor: auto;
				max-width: 500px;
				padding-top: 15px;
				position: absolute;
				right: 0;
				top: 28px;
				width: 30vw;
				z-index: 1010;

				display: none;

				&.show {
					display: block;
				}

				.incart {
					display: flex;
					flex-direction: column;

					gap: 10px;

					background: #fff;
					list-style: none;

					box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
						0 6px 6px rgba(0, 0, 0, 0.23) !important;
					overflow: hidden;
					border: 0;
					background-color: var(--background-tertiary);
					border-radius: 2px;
					transition: box-shadow 0.3s ease;

					a {
						text-decoration: none;
						color: inherit;
					}

					.inbox {
						display: flex;
						justify-content: space-between;
						align-items: center;

						gap: 10px;

						transition: all 0.25s;

						padding: 10px 15px;

						&:hover {
							background-color: var(
								--button-tertiary-neutral-onprimary-hovered
							);
						}

						img {
							width: 30px;
							height: 40px;
							object-fit: contain;
						}

						.info {
							flex-grow: 1;
							overflow-x: hidden;

							display: flex;
							flex-direction: column;

							p {
								font-size: 14px;
								font-family: Inter;
								font-weight: 500;

								width: 100%;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
							}

							span {
								font-size: 12px;
								margin-top: 5px;
								font-family: Inter;
								font-weight: 700;

								&::after {
									content: attr(data-elems);
									margin-left: 5px;
									font-size: 16px;
									font-weight: 700;
									font-family: Inter;
									color: var(--text-primary);
								}
							}
						}

						button {
							background: none;
							border: none;
						}

						svg {
							cursor: pointer;
							fill: var(--text-primary);
							height: 24px;
							width: 24px;

							&:hover {
								fill: var(--red-30);
							}
						}
					}

					.buy-btn {
						background-color: var(--button-tertiary-neutral-onprimary-hovered);
						padding: 15px;

						border: 0;

						cursor: pointer;

						span {
							background-color: var(--button-primary-accented-rest);
							border-radius: 2px;
							color: var(--text-on-color);
							display: block;
							opacity: 1;
							padding: 10px 20px;

							text-decoration: none;
						}
					}
				}
			}
		}
	}

	.header__third {
		padding: 10px 0 12px;
		.menu-list {
			width: 100%;
			list-style: none;

			display: flex;
			align-items: center;
			height: 38px;
			gap: 10px;

			li {
				margin: 0 10px 0 0;
				overflow: hidden;
				line-height: 1.5rem;
				font-size: 0.875rem;

				position: relative;

				a {
					color: #595b66;
					margin-bottom: -1px;
					padding-bottom: 6px;
					padding-top: 7px;

					font-family: Inter;
					opacity: 0.87;
				}

				&::after {
					-webkit-backface-visibility: hidden;
					backface-visibility: hidden;
					background: var(--text-primary);
					bottom: 0;
					content: "";
					height: 2px;
					left: 0;
					opacity: 0;
					-webkit-perspective: 1000;
					perspective: 1000;
					position: absolute;
					text-align: center;
					-webkit-transform: translateX(-100%);
					transform: translateX(-100%);
					-webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
					transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
					transition: transform 0.5s ease, opacity 0.5s ease;
					transition: transform 0.5s ease, opacity 0.5s ease,
						-webkit-transform 0.5s ease;
					width: 100%;
				}

				&:hover {
					a {
						color: var(--text-primary);
						opacity: 1;
					}

					&::after {
						opacity: 1;
						-webkit-transform: translateX(0);
						transform: translateX(0);
					}
				}
			}
		}
	}
}
