* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

.wrap {
    width: 80%;
    margin: 0 auto;
}

img { max-width: 100% }


html {
    scroll-behavior: smooth;
}

:root {
    --text-primary: #1f2026;
    --text-secondary: #8b8e99;
}

@import "./src/header.scss";
@import "./src/main.scss";
@import "./src/media.scss";