* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
}

.wrap {
	max-width: 1240px;
	width: 95%;

	margin: 0 auto;
}

img {
	max-width: 100%;
}

html {
	scroll-behavior: smooth;
	font-family: Inter;
}

body {
	&.modal_lock {
		height: 100vh;
		overflow: hidden;
	}
	position: relative;

	overflow-x: hidden;
	width: 100%;
	margin: 0 auto;
}

@import "./src/root.scss";
@import "./src/header.scss";
@import "./src/main.scss";
@import "./src/footer.scss";
@import "./src/modals.scss";
@import "./src/media.scss";
